In [1]:
class Neo4jGraph():
    def __init__(self,login):
        self.graph=None
        self._ip=login.split('-')[0]
        self._username=login.split('-')[1]
        self._password=login.split('-')[2]
        self.CQL=''
    def con(self):
        from py2neo import Graph, Node, Relationship, NodeMatcher 
        self.graph=Graph(self._ip,username=self._username,password=self._password)
        return self.graph
    def cql(self,string):
        return self.graph.run(string).data()
    def cqlclean(self):
        self.CQL=''
        return self
    def go(self):
        tmp=self.CQL
        self.CQL=''
        return self.graph.run(tmp).data()
    def GraphClean(self):
        self.graph.delete_all()
    def showcql(self):
        print(self.CQL)
    def create(self,label,propertyy):
        
        label_names=label.split(',')
        PropertyNameAndValues=propertyy.split(',')
        cql='''CREATE ('''
    #     labelname
        s1='n'
        for labelname in label_names:
            s1=s1+':'+labelname
    #    PropertyNameAndValues
        s2='{'
        for propertyNameAndValue in PropertyNameAndValues:
            s2=s2+propertyNameAndValue+','
        s2=s2[:-1].replace("=", ":")+'}'
    #     cql
        cql=cql+s1+s2+')'
        self.CQL=self.CQL+cql+" "
#         print(self.CQL)
        return self
    def match(self,label):
        label_names=label.split(',')
    #     labelname
        s1='MATCH (n'
        for labelname in label_names:
            s1=s1+':'+labelname
    #    PropertyNameAndValues
        s2=')'
        cql=s1+s2
        
        self.CQL=self.CQL+cql+" "
#         print(self.CQL)
        return self
    def where(self,propertyy):
        PropertyNameAndValues=Property.split(' ')
    #     labelname
        s1='WHERE '
        for propertyNameAndValue in PropertyNameAndValues:
            if propertyNameAndValue in ['or','OR','',' ','and','AND','in','is','IN','IS','NOT']:
                s1=s1+propertyNameAndValue+' '
            else:
                s1=s1+'n.'+propertyNameAndValue+' '
        cql=s1[:-1]
        self.CQL=self.CQL+cql+" "
#         print(self.CQL)
        return self
    def retur(self,ret):
        cql='return n'
        if ret:
            cql=cql[:-1]
            retString=ret.split(',')
            for ret in retString:
                cql=cql+'n.'+ret+','
            cql=cql[:-1]
        self.CQL=self.CQL+cql+" "
#         print(self.CQL)
        return self

In [2]:
connection="http://115.159.104.113:7474-neo4-123456"
t=Neo4jGraph(connection)
t.con()

Graph('http://neo4j@115.159.104.113:7474')

In [330]:
# t.GraphClean()
t.cqlclean().create(label=
              'pedfrson,cdfdhil',
               propertyy=
              '''
              name='HOOex',
              age=3
              '''
      ).retur(ret='''age''')

t.cqlclean()
t.showcql()



res=t.go()
print(res)
# print(t.CQL)
# t.go()

CREATE (n:pedfrson:cdfdhil{
              name:'HOOex',
              age:3
              }) return n.age
 n.age
-------
     3

# 增

In [ ]:
# 1.增加节点
t.cql('''
CREATE 
(a:Person:girl
{
name:'张2三',age:12
}) 
''')

t.cql('''
CREATE 
(a:Person:girl
{
name:'李33四',age:12
})
''')

In [364]:
# 2.增加联系
t.cql('''
MATCH 
(a:Person)
WHERE 
a.name='张2三'

MATCH
(b:Person)
WHERE 
b.name='李33四'

CREATE 
(a)-[
c:PE
{IDD:'1000'}
]->(b)
RETURN
a,b
''')

[{'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')},
 {'a': Node('Person', 'girl', age=12, name='张2三'),
  'b': Node('Person', 'girl', age=12, name='李33四')}]

In [365]:
# 3.创建节点和关系
t.cql('''
CREATE 
(a:Person:girl
{
name:'peiqi',age:12
})-[
c:PE
{IDD:'1000'}
]->(b:Person:girl
{
name:'miki',age:12
})
RETURN a,b
''')

[{'a': Node('Person', 'girl', age=12, name='peiqi'),
  'b': Node('Person', 'girl', age=12, name='miki')}]

In [366]:
# 4.创建节点和关系
t.cql('''
CREATE 
(a:Person:girl
{
name:'peiqi',age:12
})-[
c:PE
{IDD:'1000'}
]->(b:Person:girl
{
name:'miki',age:12
})
RETURN a,b
''')

[{'a': Node('Person', 'girl', age=12, name='peiqi'),
  'b': Node('Person', 'girl', age=12, name='miki')}]

# 改

In [373]:
#1.改节点属性
t.cql('''
MATCH 
(a:Person)
WHERE 
a.name='张2三'
OR
a.name='peiqi'
SET
a.id=1
return a
''')

[{'a': Node('Person', 'girl', age=12, id=1, name='张2三')},
 {'a': Node('Person', 'girl', age=12, id=1, name='张2三')},
 {'a': Node('Person', 'girl', age=12, id=1, name='张2三')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'girl', age=12, id=1, name='peiqi')}]

In [378]:
# 2.改联系的属性
t.cql('''
MATCH 
(a:Person)
-[c]->(b:Person) 
WHERE a.name='peiqi'
and b.name='miki'
SET c.IDD=1222,c.ll=1
return c

''')

[{'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)},
 {'c': PE(Node('Person', 'girl', age=12, id=1, name='peiqi'), Node('Person', 'girl', age=12, name='miki'), IDD=1222, ll=1)}]

In [391]:
#3.增加节点标签
t.cql('''
MATCH 
(a:Person)
WHERE 
a.name='张2三'
OR
a.name='peiqi'
SET
a:TTTT,a.id=1
return a
''')

[{'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='张2三')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='张2三')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='张2三')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')},
 {'a': Node('Person', 'TTTT', 'girl', age=12, id=1, name='peiqi')}]

# 删

In [386]:
# 1.删属性
t.cql('''MATCH 
(a)
-[c]->
(b)
WHERE 
a.name='张2三'
AND
b.name='李33四'
REMOVE
c.IDD,a.id
return c
''')

[{'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))},
 {'c': PE(Node('Person', 'girl', age=12, name='张2三'), Node('Person', 'girl', age=12, name='李33四'))}]

In [390]:
# 2.删节点或者关系
t.cql('''
MATCH 
(a)
-[c]->
(b)
WHERE 
a.name='张2三'
AND
b.name='李33四'
DELETE 
c
''')

[]

In [392]:
# 3.删target

t.cql('''
MATCH 
(a:Person)
WHERE 
a.name='张2三'
OR
a.name='peiqi'
REMOVE
a:Person:TTTT
RETURN
a
''')

[{'a': Node('girl', age=12, id=1, name='张2三')},
 {'a': Node('girl', age=12, id=1, name='张2三')},
 {'a': Node('girl', age=12, id=1, name='张2三')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')},
 {'a': Node('girl', age=12, id=1, name='peiqi')}]

# 查

In [371]:
# 1.查单节点
t.cql('''
MATCH 
(a:Person)
WHERE 
a.name='张2三'
OR
a.name='peiqi'
RETURN 
a.name,a.id,a.age
ORDER BY  
a.age,a.id
DESC
LIMIT 10

''')

[{'a.name': '张2三', 'a.id': None, 'a.age': 12},
 {'a.name': '张2三', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': 'peiqi', 'a.id': None, 'a.age': 12},
 {'a.name': '张2三', 'a.id': None, 'a.age': 12}]

In [ ]:
# 2.查联系的属性
t.cql('''
MATCH 
(a:Person)

-[c]->(b:Person) 
WHERE a.name='peiqi'
and b.name='miki'
return c

''')

# UNION

t.cql('''
MATCH 
(a:Person)
WHERE 
a.name='张2三'
OR
a.name='peiqi'
RETURN 
a.name,a.id,a.age
ORDER BY  
a.age,a.id
UNION
MATCH 
(a:Person)
WHERE 
a.name='张2三'
OR
a.name='peiqi'
RETURN 
a.name,a.id,a.age
ORDER BY  
a.age,a.id

''')

# 两跳

In [394]:
#1
t.cql('''
create
(a:test{name:'A'})-[c:testrelation{name:'C'}]->(b:test{name:'B'})
return a,b
''')

[{'a': Node('test', name='A'), 'b': Node('test', name='B')}]

In [396]:
#2
t.cql('''
match (a)
where a.name='B'
create
(a)-[c:testrelation{name:'E'}]->(b:test{name:'D'})
return a,b
''')

[{'a': Node('test', name='B'), 'b': Node('test', name='D')}]

In [397]:
#3
t.cql('''
match (a)-[b]->(c)-[d]->(e)
where a.name='A'
return e
''')

[{'e': Node('test', name='D')}]

# 远程导入

### 有列名

In [ ]:
t.cql(''' USING PERIODIC COMMIT 200 
LOAD CSV WITH HEADERS 
FROM "file:///practice/actors.csv" 
AS line CREATE 
(a:actors{personId:line.person:ID,name:line.name,type:line.LABEL})

 '''  
)

### 没列名

In [3]:
t.GraphClean()

In [4]:
aaaa='dfdfdf"'

In [11]:
aaaa.rstrip('d')
aaaa.replace('d', '').replace('"', '')

'fff'

# 远程导入

In [24]:
t.cql(''' 
USING PERIODIC COMMIT 100 LOAD CSV FROM "file:///practice/actors.csv" AS line create (a:actors{personId:line[0],name:line[1],type:line[2]})
 '''  
)

[]